<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".WebViewer"
            android:exported="false" />
        <activity
            android:name=".transactions"
            android:exported="false" />
        <activity
            android:name="com.example.customer.call_waiting_dashboard"
            android:exported="false" />
        <activity
            android:name=".Customer_Profile"
            android:exported="false" />
        <activity
            android:name=".Registration_Selection_Page"
            android:exported="false" />
        <activity
            android:name=".Add_Employee"
            android:exported="false" />
        <activity
            android:name="com.example.customer.Add_Customers"
            android:exported="false" />
        <activity
            android:name="com.example.Employee_M.Employee_M_Main"
            android:exported="false" />
        <activity
            android:name="com.example.customer.Customer_Main"
            android:exported="false" />
        <activity
            android:name="com.example.quickconnect_employee_cc.Employee_CallCentre_Main"
            android:exported="false" />
        <activity
            android:name="com.example.quickconnect_employee_cc.QuickConnect_MainPage"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light" />
        <activity
            android:name=".registration"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>